/* Reset de estilos para zerar margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

.coluna {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    transition: transform 0.3s ease-in-out;
}

.coluna:hover {
    transform: scale(1.05);
}

.coluna h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.coluna p {
    font-size: 16px;
    color: #666;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #007BFF;
}

.rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.rodape img {
    width: 150px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 32px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para as seções */
.intro, .content, .conclusion {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.intro h2, .content h2, .conclusion h2 {
    font-size: 20px;
}
.container r {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
